@model CSharpAssignment.Models.Data.CustomerModel

@{
    ViewBag.Title = "Details";
}
<div class="p-3">

    <h2>Details</h2>

    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.CustomerId)</dt>
        <dd>@Html.DisplayFor(model => model.CustomerId)</dd>
        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>
        <dt>@Html.DisplayNameFor(model => model.EmailId)</dt>
        <dd>@Html.DisplayFor(model => model.EmailId)</dd>
        <dt>@Html.DisplayNameFor(model => model.PhoneNo)</dt>
        <dd>@Html.DisplayFor(model => model.PhoneNo)</dd>
        <dt>@Html.DisplayNameFor(model => model.DOB)</dt>
        <dd>@Html.DisplayFor(model => model.DOB)</dd>
        <dt>@Html.DisplayNameFor(model => model.IsActive)</dt>
        <dd>
            @if (Model.IsActive == true) {
                <span class="px-3 py-2 badge badge-success">Active</span>
            } else {
                <span class="px-3 py-2 badge badge-danger">Not Active</span>
            }
        </dd>
        <dt>@Html.DisplayNameFor(model => model.CreatedDate)</dt>
        <dd>@Html.DisplayFor(model => model.CreatedDate)</dd>
        <dt>@Html.DisplayNameFor(model => model.UpdatedDate)</dt>
        <dd>@Html.DisplayFor(model => model.UpdatedDate)</dd>
        <dt>@Html.DisplayNameFor(model => model.CityId)</dt>
        <dd>@Html.DisplayFor(model => model.CityId)</dd>
    </dl>

</div>